:root {
  --ifm-color-primary:#0E063A;
  --ifm-color-primary-dark: #4E71A5;
  --ifm-color-primary-darker: #28175F;
  --ifm-color-primary-darkest:#200634;
  --ifm-color-primary-light: #5E6CC0;
  --ifm-color-primary-lighter:  #7E74D5;
  --ifm-color-primary-lightest: #AD8FE5;
}
























